/.mypy_cache
package-lock.json
pnpm-lock.yaml
server/env
.env
__pycache__
olddata.xls
restore.sql
backup.sql
*.pem
node_modules
dist
out
.DS_Store
*.log*
/settings
/server/whatsapp_data
/server/venv
server/whatsapp_utils/.wwebjs_cache
backend-dist
backend-downloads
openstore-data
printer_settings.json
settings.json