services:
  web:
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      - HOST=db
      - USER=${USER}
      - PASS=${PASS}
      - DATABASE=${DATABASE}
      - SECRET=${SECRET}
      - ALGORITHM=${ALGORITHM}
      - TZ=Africa/Cairo
      - PGTZ=Africa/Cairo
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    depends_on:
      - db
    volumes:
      - ./:/app
      - ssl_certs:/app/ssl
    networks:
      - app-network
    command: uvicorn main_wrapper:app --host 0.0.0.0 --port 8000 --ssl-keyfile=/app/ssl/key.pem --ssl-certfile=/app/ssl/cert.pem --reload

  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=${PASS}
      - POSTGRES_USER=${USER}
      - POSTGRES_DB=${DATABASE}
      - TZ=Africa/Cairo
      - PGTZ=Africa/Cairo
    ports:
      - "5433:5432"
    networks:
      - app-network

volumes:
  postgres_data:
  ssl_certs:

networks:
  app-network:
    driver: bridge
