services:
  db:
    environment:
      - POSTGRES_PASSWORD=f121220
      - POSTGRES_USER=postgres
      - POSTGRES_DB=store
      - TZ=Africa/Cairo
    image: postgres:17
    ports:
      - '5433:5432'
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - app-network

  web:
    build: .
    command: uvicorn main_wrapper:app --host 0.0.0.0 --port 8000 --ssl-keyfile=/app/ssl/key.pem --ssl-certfile=/app/ssl/cert.pem --reload
    depends_on:
      - db
    environment:
      - HOST=db
      - USER=postgres
      - PASS=f121220
      - DATABASE=store
      - SECRET=jshfjksdhf
      - ALGORITHM=HS256
      - TZ=Africa/Cairo
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    ports:
      - '8000:8000'
    restart: unless-stopped
    volumes:
      - /mnt/MainPool/StoreSystem/server:/app
      - ssl_certs:/app/ssl
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: null
  ssl_certs:
    driver: local
